.Icon {
    fill: var(--primary-color);
}

.isStroke {
    stroke: var(--inverted-primary-color);
}

.isInverted {
    fill: var(--inverted-primary-color);
}

.isInvertedStroke {
    stroke: var(--primary-color);
}
