:root,
.app_green_theme {
    --bg-color: #7cb872;
    --inverted-bg-color: #e9ffe5;
    --primary-color: #e9ffe5;
    --secondary-color: #197448;
    --inverted-primary-color: #7cb872;
    --inverted-secondary-color: #197448;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // articleCard
    --card-bg: #94dd87;

    // listbox
    --listbox-bg: #94dd87;

    // dropdown
    --dropdown-bg: #94dd87;
}
